#!/usr/bin/env bash
set -euo pipefail

export TMPDIR="/tmp/cargoship"
export CARGOSHIP_CONFIG=$(git rev-parse --show-toplevel)/cargoship-config.yaml

PATH_add build

mkdir -p $TMPDIR "$(direnv_layout_dir)"
