src/pkg/engineconfig/gen/**/zz_*.go linguist-generated
docs/commands/**/*.md linguist-generated
docs/phases/**/*.md linguist-generated
example/rke2-*/**/distro.yaml linguist-generated
example/rke2-shasums.json linguist-generated
thirdparty-src/** linguist-vendored
